<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="display-4 text-center">About</h5>
      <p class="lead">The main purpose of this application is to provide information about planting season and harvesting season to local farmers, in the form of a calendar. 
      This way farmers can access the information easily, allowing farmers to manage their crops and harvests. This application also serves as a platform for farmers to discuss and share ideas and information, so farmers no longer need to gather this information separately from search engines. 
      With accurate information regarding planting times farmers can manage their crops and harvests to meet market needs and reduce the production costs. 
      For farmers, knowing when to plant is crucial since it has a big impact on the harvest that is generated.
      A good and timely harvest will have a ripple effect on meeting market and community needs and improving their welfare. 
    .</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <h2>Our Mission</h2>
      <p>Providing accurate crops calendar to help farmers manage their crops and harvests to meet market needs and improve their welfare.</p>
    </div>
    <div class="col-md-6 text-center">
      <h2>Our Team</h2>
      <p> Herring 2024</p>
    </div>
  </div>
</div>


