<h1>About The Application</h1>

<p>The purpose of this application is to allow farmers to access information about planting seasons, and also a forum to share other information, so farmers no longer need to gather this information separately from search engines. With accurate information regarding planting times farmers can manage their crops and harvests to meet the market needs and reduce the planting process prices. 
  For farmers, knowing when to plant is crucial since it has a big impact on the harvest that is generated. A good and timely harvest will impact and meet market needs and reduce production costs. 
  This application is designed to provide access and information to users and farmers about the annual planting season, allowing farmers to manage their crops and harvests. This application also serves as a platform for users and farmers to share ideas and information about plants, agriculture, or other topics of interest to the users.
  Have fun and enjoy this application.
</p>

<p>Find me in app/views/pages/about.html.erb</p>
